<!DOCTYPE html>
<html>
<head>
  <title>ball</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
  <link rel='stylesheet' type='text/css' href ='./assets/css/ball-style.css'>
  <script src='./assets/js/ajax.js'></script>
  <script src='./assets/js/ballModule.js'></script>
</head>
<body>
  <div id='index'>
    <main class='ball'>
      <div class='meteor'></div>
      <article>
        <div id='moodBall' data-color='rgb(111, 111, 111)'></div>
      </article>
      <aside>
        <div class='line'><textarea class='textBox' rows='3' placeholder='写点什么吧'></textarea></div>
        <div class='line'><button class='submit'>提交</button><button class='view'>日记本</button></div>
      </aside>
    </main>
  </div>
</body>
</html>